:root {
    --main-text-color:#212121;
    --title-text-color:#212121;
    --second-text-color:#757575;
    --accent-color:#2196F3;
    --hero-text-color:#FFFFFF
}


body {
    background-color: #fff;
    color: #212121 ;
}

.logo {
    color: #2196f3;
}

.logo-white {
    color: #FFFFFF;
}

ul {
    list-style: none;
}

.mail-tel a{
    color: #757575;   
}

.mail-tel a:hover, 
.mail-tel a:focus {
    color: #2196F3;
}


.heads-links a{
    color: #212121;
}

.heads-links a:hover,
.heads-links a:focus {
    color: #2196F3;
}

.heads-links a .current {
    color: var(--accent-color);
}
 
.section-hero-title {
    color: var(--hero-text-color);
}

.section-title
.features-list .title 
.team-list .title {
    color: var(--title-text-color);
}

p {
    color: #757575;
}

.address {
    color: var(--hero-text-color);
}

.mail-tel-footer {
    color: rgba(255, 255, 255, 0.6);
}

.button {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*основной цвет #212121 */
/*вторичный цвет #757575 */
/*белый #FFFFFF */
/*цвет акцент #2196F3 */
